body {
  background: #f4f5f6;
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  color: #f72210;
}

/* rules for the header */

header {
  position: relative;
}

.header-container {
  height: 151px;
  max-width: 1310px;
  z-index: 1;
}

.header-top {
  height: 95px;
  background: #f72210;
}

.logo-svg {
  fill: white;
  width: 396px;
  height: 60px;
}

.header-col1,
.header-col2 {
  font-family: 'Roboto Condensed', sans-serif;
}

.subscribe-btn {
  color: #f72210;
}

/* rules for the main navigation bar */

.header-bottom::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: "block";
  width: 70px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.header-bottom {
  position: absolute;
  width: 100%;
  max-width: 1310px;
  border-bottom: 2px solid #f4f5f6;
  z-index: 1;
}

ul.page-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;  
  font-family: "Roboto Condensed", sans-serif;
}

.leaf {
  text-align: center;
} 

ul.page-nav :first-child {
  border-left: none;
}

.search-input {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.small-bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
  background-color: #f72210;
}

.small-bar svg {
  width: 132px;
  height: 20px;
}

.spacer {
  height: 50px;
}

/* rules for the main section */

main {
  background: white;
  max-width: 1310px;
  padding-top: 20px;
}

h6 {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

/* rules for the Featured Stories section */

.featured-story-title,
.sponsored-story-title,
.main-story-title {
  font-size: 24px;
  font-family: "Roboto Condensed", sans-serif;
}

.featured-story-summary,
.sponsored-story-summary {
  font-size: 15px;
}

.featured-related-article {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

.extra-container {
  max-height: 197px;
  overflow: hidden;
}

/* rules for the Top Story section */

.culture-stories {
  background: #f4f5f7;
}

.culture-story-title {
  font-size: 20px;
  font-family: 'Lora', serif;
}

.culture-story-summary {
  font-size: 15px;
}

/* rules for the More Stories section */

.story-avatar {
  width: 135px;
  height: 90px;
}

.story-title {
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
}

.story-summary {
  font-size: 15px;;
}

/* rules for the Opinion section */

.columns-container {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
}

.column {
  min-height: 75px;
}

.avatar {
  width: 63px;
  height: 63px;
}

.column-title {
  padding-left: 68px;
}

.column-author {
  font-size: 14px;
}


/* media querys */

@media screen and (max-width: 768px) {
  .story {
    min-height: 190px;
  }

  .story-avatar {
    width: 258px;
    height: 172px;
  }

}